<p>login-register works!</p>

@if (showLogin) {
    <div class="container">
        <h1>Login</h1>
        <div class='form'>
            <h3 style="color: red; text-align: center;">{{statusText}}</h3>
            <input
                type='text'
                placeholder='Username...'
                [(ngModel)]="username"
            />
            <input
                type='password'
                placeholder='Password...'
                [(ngModel)]="password"
            />
            <button (click)="login()">Login</button>

        </div>
        <div class="switch-link">
            <button (click)="setShowLogin()">Go to Signup page</button>
        </div>
    </div>
}
@else {
    <div class="container">
        <h1>Signup</h1>
        <div class="form">
            <h3 style="color: red; text-align: center;">{{statusText}}</h3>
            <input
                type='text'
                placeholder='Username...'
                [(ngModel)]="username"
            />
            <input
                type='password'
                placeholder='Password...'
                [(ngModel)]="password"
            />
            <input 
                type="email"
                placeholder="Email..."
                [(ngModel)]="email"
            />
            <button (click)="signup()">Signup</button>
        </div>
        <div class="switch-link">
            <button (click)="setShowLogin()">Go to login page</button>
        </div>
    </div>
}