@if (access) {
<div>
    <h1>Employee List</h1>

    <button style="margin-bottom: 10px;" (click)="route('add')">Add Employee</button>

    <table class="styled-table">
    <thead>
    <tr>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
        <th>Employee Email Id</th>
        <th>Employee gender</th>
        <th>Employee Salary</th>
        <th>Actions</th>
    </tr>
    </thead>
        <tbody>
            
            @for (emp of employeesList; track $index) {
                        <tr>
                        <td>{{emp.first_name}}</td>
                        <td>{{emp.last_name}}</td>
                        <td>{{emp.email}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.salary}}</td>
                        <td>
                            <button class='update-button' (click)="route('update', emp._id)">Update</button>

                            <button class='delete-button' (click)="route('delete', emp._id)">Delete</button>

                            <button class='view-button' (click)="route('view', emp._id)">View</button>
                        </td>
                        </tr>
                
                }
            

        </tbody>

    </table>
    <button (click)="logout()">Logout</button>
</div>
} @else {
    <h1 style="color: red;">You need to login to view the content</h1>
}