
@if (action=="add" || action=="update") {
<div class="container">
    <h1>{{action|uppercase}} Employee</h1>
    <div class='form'>
        <label>First Name:</label>
        <input
            type='text'
            placeholder='First name...'
            [(ngModel)]="first_name"
        />
        <!-- <p>{{first_name}}</p> -->
        <label>Last Name:</label>
        <input
            type='text'
            placeholder='Last name...'
            [(ngModel)]="last_name"
        />
        <!-- <p>{{last_name}}</p> -->
        <label>Email:</label>

        <input
            type="email"
            placeholder="Email..."
            [(ngModel)]="email"
        />
        <!-- <p>{{email}}</p> -->
        <label>Gender:</label>

        <input 
            type="text"
            placeholder="Gender..."
            [(ngModel)]="gender"
        />
        <!-- <p>{{gender}}</p> -->
        <label>Salary:</label>

        <input 
            type="number"
            placeholder="Salary..."
            [(ngModel)]="salary"
        />
        <!-- <p>{{salary}}</p> -->

        @if (action=="add") {
            <button (click)="addEmployee()">{{action|uppercase}} Employee</button>
        } 
        @else {
            <button (click)="updateEmployee()">{{action|uppercase}} Employee</button>
        }
        <h3 id="status" style="color: red;"></h3>

    </div>
    <div class="switch-link">
        <button (click)="routeToEmployeeList()">Go back to Employeelist page</button>
    </div>
</div>
} @else if (action=="delete" || action=="view") {
    <div class="container">
        <h1>{{action|uppercase}} Employee</h1>
        <div class='form'>
            <h3 style="color: red;text-align: center;">Fields are readonly</h3>
            <label>First Name:</label>
            <input
                type='text'
                placeholder='First name...'
                [(ngModel)]="first_name"
                readonly
            />
            <!-- <p>{{first_name}}</p> -->
            <label>Last Name:</label>
            <input
                type='text'
                placeholder='Last name...'
                [(ngModel)]="last_name"
                readonly
            />
            <!-- <p>{{last_name}}</p> -->
            <label>Email:</label>

            <input
                type="email"
                placeholder="Email..."
                [(ngModel)]="email"
                readonly
            />
            <!-- <p>{{email}}</p> -->
            <label>Gender:</label>

            <input 
                type="text"
                placeholder="Gender..."
                [(ngModel)]="gender"
                readonly
            />
            <!-- <p>{{gender}}</p> -->
    
            <label>Salary:</label>

            <input 
                type="number"
                placeholder="Salary..."
                [(ngModel)]="salary"
                readonly
            />
            <!-- <p>{{salary}}</p> -->
            @if (action=='view') {
                <button (click)="viewEmployeeDone()">{{action|uppercase}} Employee</button>
            } 
            @else {
                <button (click)="deleteEmployeeById()">{{action|uppercase}} Employee</button>
            }
            
            <h3 id="status" style="color: red;"></h3>
    
        </div>
        <div class="switch-link">
            <button (click)="routeToEmployeeList()">Go back to Employeelist page</button>
        </div>
    </div>
}